@import '../main.css';

input {
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 8px;
    font-size: 18px;
    transition: border-bottom-color .3s ease-out;
}

input:focus {
    border-bottom-color: #26a69a; 
}

label {
    transition: color 0.3s ease-out;
}

input:focus + label {
    color: #26a69a;
}

.btn[disabled] {
    pointer-events: none;
	background-color: #DFDFDF !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #9F9F9F !important;
	cursor: default;
}

.btn {
    display: inline-block;
    letter-spacing: .5px;
    text-align: center;
    padding: 7px 14px;
    background-color: #26a69a;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
    user-select: none;
    font-size: 16px;
    transition: background-color .3s ease-out;
}

.btn:hover {
    background-color: #2bbbad;
}

.input-field {
    margin: 1rem 0;
}

.btn-paginator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-paginator > * {
    margin: 10px 10px 10px 0px;
    display: inline-block;
}

.btn-paginator_numbers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn-paginator_numbers > * {
    margin: 10px 5px 10px 0px;
}

.btn-paginator_numbers > *:last-child {
    margin-right: 0;
}

.btn_number {
    max-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_number.active {
    border: 2px solid #26a69a;
    padding: 5px 12px;
}

